h1 {
    margin-left: 10%;
    color: rgb(68, 66, 66);
}

body {
    background-color: rgb(221, 217, 211);
}

.teksti {
    margin-left: 10%;
}

button {
    margin-left: 10%;
}

.kaverit {
    margin-left: 10%;
}

ul{
    margin-left: 10%;
}